/*font-family: ‘Nunito’, sans-serif;
font-family: ‘Playfair Display’, serif; */
/*brand colors 
yellow #FDC435
grey #e5e5e5
*/

:root {
  --heading-font: ‘Playfair Display’, serif;
  --body-font: ‘Nunito’, sans-serif;
  --brand-yellow: #fdc435;
  --light-grey: #f9faff;
  --color-black: #25282b;
  --medium-grey: #828282;
}

body {
  background-color: var(--light-grey);
}

h1,
h2 {
  font-family: ‘Playfair Display’, serif;
  font-size: 48px;
}

p {
  font-family: var(--body-font);
  font-size: 18px;
}

.heroText {
  margin-top: 110px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.pre-intro {
  font-family: var(--body-font);
  color: var(--brand-yellow);
  text-transform: uppercase;
  font-size: 20px;
  line-height: 27.28px;
}

.intro-heading {
  font-family: var(--heading-font);
  font-size: 64px;
  line-height: 76.8px;
  font-weight: 700;
  color: var(--color-black);
}

.intro-description {
  font-family: var(--body-font);
  color: var(--medium-grey);
  font-size: 24px;
  font-weight: 200;
  line-height: 36px;
}

.home-buttons {
  padding: 0px;
  margin: 32px 0px;
}

.btn-branding-fill {
  background-color: var(--brand-yellow);
  color: var(--color-black);
  font-size: 18px;
  line-height: 27px;
  font-family: var(--body-font);
  padding: 18px 24px;
}

.btn-branding-outline {
  border: 2px solid var(--color-black);
  border-radius: 8px;
  color: var(--color-black);
  font-size: 18px;
  line-height: 27px;
  font-family: var(--body-font);
  padding: 18px 24px;
}

.body-heading {
  line-height: 72px;
  font-weight: 700;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  width: 100px;
  height: 4px;
  background-color: var(--brand-yellow);
  opacity: 200%;
}

.project-text {
  background-color: white;
  border-radius: 10px;
  margin: 0;
}

.project-pg-images {
  border-radius: 10px;
  width: 300px;
}

.project-heading {
  font-size: 36px;
  line-height: 60px;
  font-weight: 700;
}

.project-description {
  color: var(--medium-grey);
  font-weight: 200;
  line-height: 27px;
  margin: 24px 0;
}

.btn-projects-outline {
  border: 2px solid var(--color-black);
  border-radius: 24px;
  color: var(--color-black);
  font-size: 18px;
  line-height: 27px;
  font-family: var(--body-font);
  padding: 18px 24px;
}

.homepage-projects {
  margin: 80px 0;
}

.about-section {
  padding: 150px 120px;
}
.about-heading {
  font-family: var(--heading-font);
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  color: var(--color-black);
}

.about-intro {
  font-family: var(--body-font);
  color: var(--brand-yellow);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27.28px;
}

.about-description {
  font-family: var(--body-font);
  color: var(--medium-grey);
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
}
.portfolio-container {
  padding: 0;
  margin: 0;
}
.portfolio-background {
  margin-left: 0;
}

.portfolio-section {
  margin: 0 100px;
}

.portfolio-image {
  margin: 20px;
  max-width: 400px;
  border-radius: 4px;
}

.portfolio-labels a {
  color: var(--color-black);
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.portfolio-heading {
  position: absolute;
  top: 150px;
  left: 80px;
}

.portfolio-projects {
  margin: 20px 0;
}

@media (max-width: 576px) {
  .heroText {
    display: block;
    margin: 0 60px;
  }

  .intro-heading {
    font-size: 36px;
    margin: 300px 0px 10px 0px;
    line-height: 1;
  }
  .intro-description {
    line-height: 1;
  }

  .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
  }
  .project-text {
    text-align: center;
  }
  .project {
    margin: 30px 0;
  }

  .projects-button {
    margin-bottom: 30px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .about-image {
    width: 300px;
  }
}
